.order-section{
    margin-top: 40px;
    border-radius: 20px;
    border:1px solid white ;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
        background-color: whitesmoke;
        margin-bottom: 20px;
    position: relative;
    padding: 10px;
}
.menu-button{
    position: absolute;
    top: -17px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
.button{
         background-color: var(--accent-teal);
    border: none;
    color: #89e4e4;
    padding: 6px 10px;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    border-radius: 25px;
    cursor: pointer;
    width: 20%;
    height: 30px;
}